.judgingbox {
    height: 500px;
}

.ui-draggable-dragging {
    border: 1px solid orange;
}

.over {
    background-color: #DDD;
}

.out {
    background-color: #EEE;
}

.cat {
    width: 120px;
    margin-bottom: 5px;
}