.judgingbox {
    height: 450px;
}

.ui-draggable-dragging {
    border: 2px solid orange;
    transform: rotate(2deg);
    -ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Safari and Chrome */
    -o-transform: rotate(2deg); /* Opera */
    -moz-transform: rotate(2deg); /* Firefox */
}

.over {
    background-color: #DDD;
}

.out {
    background-color: #EEE;
}

.cat {
    width: 87%;
    margin-bottom: 5px;
    position: relative;
    text-align:left;
}
.cat small {
    font-size: 0.85em;
}
.alert {
    margin-bottom: 0px;
}
.text-center { text-align: center; }
.text-right { text-align: right; }

table .td .right {text-align: right; }

section {
    padding-top: 40px;
}